*, ::after, ::before {
    box-sizing: border-box;
}
div {
    display: block;
}
body {
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    background-color: rgb(255, 255, 255);
    font-feature-settings: "tnum";
    margin: 0px;
    font-variant: tabular-nums;
}
html {
    --antd-wave-shadow-color: #1890ff;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
::selection {
    color: rgb(255, 255, 255);
    background: rgb(24, 144, 255);
}